
.modalContainer{
    position: absolute;
    bottom: 18px;
    background-color: #fff;
    padding: 14px;
    width: 700px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    animation: slideY 1.5s;
}

/* Animação Modal */
@keyframes slideY{
    from{
        transform: translateY(90px);
    }
    to{
        transform: translateY(0px);
    }
}

.modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalHeader button{
    border: 0;
    background-color: transparent;
}

.modalContainer span{
    margin: 14px 0;
    color: #a7a7a7;
}

.modalLink{
    background-color: #172742;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    height: 38px;
    border: 0;
    border-radius: 8px;
    color: #fff;
}

@media (max-width: 735px){

    .modalContainer{
        width: 90%;
    }
}